# Talari Shreya
220978324
Roll.No 50
Section_A_Batch2
Week_1_

# Exercise1 Introduction to pandas

# Q-1 Data frame

In [1]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
print(df)

   Roll Number     Name  Gender  Marks1  Marks2  Marks3
0          101    Alice  Female      85      89      86
1          102      Bob    Male      72      67      76
2          103  Charlie  Female      64      38      75
3          104    David    Male      89      69      90
4          105      Eve  Female      90      90      56
5          106    Pranx    Male      45      56      80
6          107    Grace  Female      44      90      78
7          108     Alex    Male      78      50      69
8          109      Ivy  Female      69      47      80
9          110     John    Male      56      82      78

# Q-2.create a new column with total marks

In [2]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
#Calculate the total marks for each student
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number     Name  Gender  Marks1  Marks2  Marks3  Total Marks
0          101    Alice  Female      85      89      86          260
1          102      Bob    Male      72      67      76          215
2          103  Charlie  Female      64      38      75          177
3          104    David    Male      89      69      90          248
4          105      Eve  Female      90      90      56          236
5          106    Pranx    Male      45      56      80          181
6          107    Grace  Female      44      90      78          212
7          108     Alex    Male      78      50      69          197
8          109      Ivy  Female      69      47      80          196
9          110     John    Male      56      82      78          216

# Q-3.find the lower marks in marks1

In [3]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
#Find the lowest marks in marks1
lowest_marks_marks1 = df['Marks1'].min()
print("Lowest marks in marks1:",lowest_marks_marks1)

Lowest marks in marks1: 44

# Q-4.find highest marks in marks2

In [4]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
#Find the highest marks in marks2
highest_marks_marks2 = df['Marks2'].max()
print("Highest marks in marks2:",highest_marks_marks2)

Highest marks in marks2: 90

# Q-5.avg marks in marks3

In [5]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
#Find the avg marks in marks3
average_marks_marks3 = df['Marks3'].mean()
print("Average marks in marks3:",average_marks_marks3)

Average marks in marks3: 76.8

# Q-6.student name with highest average

In [6]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
#Calculate the average marks for each student
df['Average Marks'] = df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)

#Find the student with highest average marks
student_with_highest_avg = df[df['Average Marks'] == df['Average Marks'].max()]['Name'].values[0]

print("Student with highest average marks:",student_with_highest_avg)

Student with highest average marks: Alice

# Q-7.how many failed in marks2

In [22]:
import pandas as pd
data = {
    'Roll Number' : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name' : ['Alice', 'Bob', "Charlie", 'David', 'Eve', 'Pranx', 'Grace', 'Alex', 'Ivy', 'John'],
    'Gender' : ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Marks1' : [85, 72, 64, 89, 90, 45, 44, 78, 69, 56],
    'Marks2' : [89, 67, 38, 69, 90, 56, 90, 50, 47, 82],
    'Marks3' : [86, 76, 75, 90, 56, 80, 78, 69, 80, 78]
}
df = pd.DataFrame(data)
passing_threshold = 40
failed_students_marks2 = df[df['Marks2'] < passing_threshold]

num_failed_students_marks2 = failed_students_marks2.shape[0]

print("Number of students who failed in Marks2:",num_failed_students_marks2)

Number of students who failed in Marks2: 1